{{> error}}

{{#each reviews}}
    <div class="row d-flex justify-content-center">
        <img class="col-md-4" src="https://images5.alphacoders.com/103/thumb-1920-1037076.jpg" width="450" alt="" srcset="">
        <div class="col-md-8 bg-secundary">
            <h2 class="text-white text-left ">Star Wars Jedi Fallen Order</h2>
            <h5 class="text-dark text-left">Erick, 4/3/2020</h5>
            <p class="lead text-white">plorar, buena ueden pulir pero un juegazo.</p>
        </div>
    </div>
{{/each}}