<link rel="stylesheet" href="/stylesheets/newReview.css">
<script src="/javascripts/newreview.js"></script>

<div class="d-flex flex-column">
    <div class="p-3">
        <h1 class="display-4 text-white text-center">Crea tu propia reseña</h1>
        <p class="display-7 text-muted text-center">
            La reseña se publicará con tu nombre de usuario y será pública para
            todos los usuarios de la comunidad. <br />
            Acuerdate que puedes remover la reseña y modificarla.
        </p>
        <div id="botonJuego" class="form-row pb-5 d-flex justify-content-center">
            <button id="btnGameSelected" class="btn border border-primary bg-transparent text-white dropdown-toggle"
                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Selecciona el juego
            </button>
            <div id="listaJuegos" class="dropdown-menu"></div>
        </div>
    </div>

    <div class="p-1 w-100">
        <div class="form-group w-100 d-flex justify-content-center">
            <textarea class="text-area" placeholder="¿Qué opinas del juego?"></textarea>
        </div>
        <p class="display-7 text-muted text-center">Carácteres actuales <span id="maxChars"> 0/500</span> </p>
    </div>

    <div class="p-2 w-100">
        <div class="form-group d-flex justify-content-center">
            <input type="text" class="form-control inputs mr-3" aria-label="Small" placeholder="Usuario">
            <input type="password" class="form-control inputs" aria-label="Small" placeholder="Contraseña">
        </div>
    </div>

    <div class="" style="padding: 80px;">
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary border border-primary text-white mr-3" type="button">Publicar</button>
            <button class="btn btn-danger text-white" type="submit">Cancelar</button>
        </div>
    </div>


</div>