<link rel="stylesheet" href="/stylesheets/newReview.css">
<script src="/javascripts/newreview.js"></script>

<div class="d-flex flex-column">

    <div class="p-3">
        <h1 class="display-4 text-white text-center">Crea tu propia reseña</h1>
        <p class="display-7 text-muted text-center">
            La reseña se publicará con tu nombre de usuario y será pública para
            todos los usuarios de la comunidad. <br />
            Acuerdate que puedes remover la reseña y modificarla.
        </p>
        <div id="botonJuego" class="pb-5 d-flex justify-content-center">
            <button id="btnGameSelected" class="btn bg-transparent text-white dropdown-toggle bg-primary" type="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Selecciona el juego
            </button>
            <div id="listaJuegos" class="dropdown-menu scrollable-menu bg-transparent border border-primary ml-2">
                {{#each games}}
                <a id="gameId" hidden>{{dataValues.id}}</a>
                <a class="dropdown-item text-white" href=""><img class="mr-3" src="{{dataValues.image}}" srcset=""
                        width="30px" height="30px"> {{dataValues.name}}</a>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="p-1 w-100">
        <div class="form-group w-100 d-flex justify-content-center">
            <textarea class="text-area" placeholder="¿Qué opinas del juego?"></textarea>
        </div>
        <p class="display-7 text-muted text-center">Carácteres actuales <span id="maxChars"> 0/500</span> </p>
    </div>

    <div class="" style="margin-bottom: 10%; margin-top: 5%;">
        <div class="d-flex justify-content-center">
            <button id="send" class="btn btn-primary border border-primary text-white mr-3"
                type="button">Publicar</button>
            <button class="btn btn-danger text-white" onClick="window.location='/';" type="button">Cancelar</button>
        </div>
    </div>
</div>