<div>
    <div class="mt-5">
        <h1 class="text-warning text-center">Contactos</h1>
    </div>
    <div class="" style="margin-top: 50px;">
     <h3 class="text-success">Pongase en contacto con nosotros para aclarar dudas o por negocios viendo la siguiente informacion:</h3>
    </div>
    <div class="" style="margin-top: 50px;">
     <button type="button" class="btn btn-danger">Gmail: elrincondelgaming@gmail.com</button>
    </div>
    <div class="" style="margin-top:20px;">
     <button type="button" class="btn btn-primary">Hotmail: elrincondelgaming@hotmail.com</button>
    </div>
    <div class="" style="margin-top: 20px;">
     <button type="button" class="btn btn-info">Instagram: elrincondelgaming</button>
    </div>
    
</div>