<div>
    <div class="mt-5">
        <h1 class="text-warning text-center">Preguntas Frecuentes</h1>
    </div>
    <div class="" style="margin-top: 100px;">
     <h1 class="text-success">Sobre Nosotros</h1>
     <h5 class="text-white">Somos un grupo de amantes de los videojuegos que da sus opiniones sobre los mismos y que comparte este espacio para que otros tambien puedan expresar sus opiniones.</h5>
    </div>
    <div class="" style="margin-top: 50px;">
     <h1 class="text-success">Informacion veridica y Reseñas</h1>
     <h5 class="text-white">Contamos con fuentes confiables directas a las empresas involucradas con los videojuegos, regulamos las reseñas para que sean lo mas aptas posibles para la comunidad.</h5>
     </div>
    <div class="" style="margin-top: 50px;">
     <h1 class="text-success">¿Como puedo formar parte de esta pagina?</h1>
     <h5 class="text-white">Simplemente ingresando al boton de abajo, rellenando el formulario de registro, te uniras a esta gran comunidad.</h5>
     <a href="/user/register" class="btn btn-outline-info my-2 my-sm-0 text-white">Registrarme</a>
     </div>
     <div class="" style="margin-top: 50px;">
     <h1 class="text-success">¿Como puedo hacer una resena?</h1>
     <h5 class="text-white">En tu perfil podras crearlas, tambien podras ponerlas en los comentarios de nuestras resenas para que los otros usuarios puedan verlas.</h5>
     </div>
     <div class="" style="margin-top: 50px;">
     <h1 class="text-success">¿Como actualizo mi perfil?</h1>
     <h5 class="text-white">Debajo de tu foto de perfil habra un boton que te dira "Editar" y simplemente cambias lo que quieres cambiar.</h5>
     </div>
     <div class="" style="margin-top: 50px;">
     <h1 class="text-success">¿Donde puedo ver las normas de la pagina web?</h1>
     <h5 class="text-white">Al final de la pagina veras una seccion donde dice "Termino", donde podras leer los terminos que damos a los usuarios para poder unirse a nuestra comunidad.</h5>
     </div>

</div>

