<div>
    <div class="mt-5">
        <h1 class="text-success text-center">Terminos de la pagina</h1>
   
    <div class="" style="margin-top: 50px;">
     <h5 class="text-warning">Usted esta de acuerdo en compartir su email con nosotros para poder ingresar en la pagina, aceptando que guardaremos su informacion personal (email) para tener registro de cada uno de nuestro usuarios:</h5>
     </div>
</div>







