<title> Acceder </title>

<div class="container mt-5 d-flex align-items-center" style="height: 60%;">

    <div class="row justify-content-left">
        <div class="col-sm-5">
            <h1 class="display-4 text-center text-white">
                Accede y postea tus Reseñas
            </h1>
            <p class="lead text-center text-white">
                Entra y interactua con nuestra comunidad
            </p>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-5">
            <form action="/user/login" method="POST">
                <div class="form-group">
                    <label for="email" class="text-white">
                        Nombre de usuario</label>
                    <input type="text" class="form-control" name="nickname" aria-describedby="emailHelp"
                        placeholder="Nombre de usuario" />
                </div>
                <div class="form-group">
                    <label for="password" class="text-white">Contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="Contraseña" />
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                    <label class="form-check-label text-white" for="exampleCheck1">Recordar</label>
                </div>
                <hr />
                <button type="submit" class="btn btn-success">Acceder</button>
            </form>
        </div>
    </div>
</div>